body{
  margin:0px;
}
.container_design{
    border:0.02px solid #ebe5e4;
    border-radius:5px;
    width:26%;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    background-color: #CEE6B4;
}
a.button {
    display:inline;
    margin:8px;
    border:1.5px solid black;
    border-radius : 2px;
    appearance: button;
    text-decoration: none;
    color: white;
    width:80px;
    height:22px;
    text-align:center;
    background-color:DodgerBlue;
}
.imgstyle{
  position: relative;
  top:-20px;
  width:100%;
}
.btn-position{
  position: absolute;
  top: 30px;
  right: 30px;
  width:15%
 }
 table {
 border: 1px solid black;
  width:50%;
  margin-left:20%;


}
/*table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 12px;
  text-align: left;
}*/
#t01 tr:nth-child(even) {
  background-color: #eee;
}
#t01 tr:nth-child(odd) {
 background-color: #fff;

}
#t01 th {
  background-color: #1994e6;
  color: white;
  text-decoration:none
}

#t02 tr:nth-child(even) {
  background-color: #eee;
}
#t02 tr:nth-child(odd) {
 background-color: #fff;
}
#t02 th {
  background-color: #1994e6;
  color: white;
  text-decoration:none
}


#t03 tr:nth-child(even) {
  background-color: #eee;
}
#t03 tr:nth-child(odd) {
 background-color: #fff;
}
#t03 th {
  background-color: #1994e6;
  color: white;
  text-decoration:none
}
