<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

  <div class=" container_design">
      <div clas="card">
          <div class="card-body">
              <form class = "form" method="post" action="/validate_register">
                  <h3 style="text-align:center">Register Users</h3><hr>
                  <label>Sensor Name</label><br>
                  <input type="text" class="form-control" name="name">
                  <label>Model</label><br>
                  <input type="text" class="form-control" name="model"><br>
                  <label>Software Version</label><br>
                  <input type="text" class="form-control" name="version"><br>
                  <label>Threshold</label><br>
                  <input type="text" class="form-control" name="threshold"><br>
                  <label>Location</label><br>
                  <input type="text" class="form-control" name="location"><br>

                  <input type="submit" style="margin-left:35%; width:30%" class="btn btn-primary btn-md" value="Register Device">
                   {% with messages = get_flashed_messages() %}
                   {% if messages %}
                    {% for message in messages %}
                     <p style = "text-align: center; color:red">  {{ message }} </p>
                    {% endfor %}
                   {% endif %}
                   {% endwith %}
              </form>
          </div>
          </div>
  </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>


</body>
</html>