<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Homepage</title>
</head>
<body>



<a style="margin-left:90%;" href="/logout">
    <button class="btn btn-primary btn-md">Logout</button>
  </a><br>
<div>
    <form class = "form" method="get" action="/show_project">
    <label>Select Project</label><br>
                  <select style="-webkit-appearance: checkbox!important; width:20%;" name="project" class="form-control" id="projects">
                      <option value="1">Project A</option>
                      <option value="2">Project B</option>
                      <option value="3">Project C</option>
                      <option value="4">All Projects</option>

                   </select>
                      <input type="submit" style="margin:2% 5%; width:10%" class="btn btn-primary btn-md" value="Show Project">
    </form>
</div>
{% if project_data == None %}
<p style="color:red; margin-left:2%">Not authorized for this project</p>
{% endif %}
<div>
    {% if project_data %}
<table id="data">
  <tr>
    <th>Sensor Id</th>
    <th>Property</th>
      <th>Value</th>
  </tr>

  {% for row in project_data %}
  <tr>
    <td>{{row.sensorId}}</td>
    <td>{{row.property}}</td>
      <td>{{row.value}}</td>
  </tr>
   {% endfor %}

</table><br>
    {% endif %}
</div>
<!--<table id="t02">-->
<!--<tr>-->
<!--    <td>-->
<!--        Project B-->
<!--    </td>-->
<!--</tr>-->
<!--  <tr>-->
<!--    <th>id</th>-->
<!--    <th>temperature</th>-->
<!--    <th>moisture</th>-->
<!--      <th>luminance</th>-->
<!--  </tr>-->

<!--  {% for row in projectB %}-->
<!--  <tr>-->
<!--    <td>{{row.id}}</td>-->
<!--    <td>{{row.temperature}}</td>-->


<!--    <td>{{ row.moisture }}</td>-->
<!--      <td>{{ row.luminance }}</td>-->

<!--  </tr>-->

<!--{% endfor %}-->
<!--</table>-->

<!--<table id="t03">-->
<!--<tr>-->
<!--    <td>-->
<!--        Project C-->
<!--    </td>-->
<!--</tr>-->
<!--  <tr>-->
<!--    <th>id</th>-->
<!--    <th>temperature</th>-->
<!--    <th>moisture</th>-->
<!--      <th>luminance</th>-->
<!--  </tr>-->

<!--  {% for row in projectC %}-->
<!--  <tr>-->
<!--    <td>{{row.id}}</td>-->
<!--    <td>{{row.temperature}}</td>-->


<!--    <td>{{ row.moisture }}</td>-->
<!--      <td>{{ row.luminance }}</td>-->

<!--  </tr>-->

<!--{% endfor %}-->
<!--</table>-->


<!--<div>-->
<!--    {% if project_data %}-->
<!--<table id="data">-->
<!--  <tr>-->
<!--    <th>Temperature</th>-->
<!--    <th>Moisture</th>-->
<!--      <th>Luminance</th>-->
<!--  </tr>-->

<!--  {% for row in project_data %}-->
<!--  <tr>-->
<!--      {% if row.property == Temperature %}-->
<!--    <td>{{row.value}}</td>-->
<!--      {% endif  %}-->
<!--      {% if row.property == Moisture %}-->
<!--    <td>{{row.value}}</td>-->
<!--      {% endif  %}-->
<!--      {% if row.property == Luminance %}-->
<!--      <td>{{row.value}}</td>-->
<!--      {% endif  %}-->

<!--  </tr>-->
<!--   {% endfor %}-->

<!--</table><br>-->
<!--    {% endif %}-->
<!--</div>-->

</body>
</html>